body {
    
    background-image: url("https://img.freepik.com/free-vector/gradient-galaxy-background_23-2148988608.jpg?semt=ais_hybrid&w=740&q=80");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height:10vh;
      font-family: Georgia, 'Times New Roman', Times, serif;
      h1 {
  color: rgb(246, 215, 121);

    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
     }

     .awnser-box {
      border: 3px solid #faeded;
      border-radius: 150px;
      padding: 20px;
      background-color: rgb(249, 236, 203);
      font-size: 2.5em;
      text-align: center;
      max-width: 500px;
      margin: 20px auto;

     }

  

}